option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:app
	
	files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_setup_environment.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      cd /var/app/current
      echo "Setup script running..."
